{% extends 'base.html.twig' %}

    {% block headertitle %}
        <h1>{% trans %} header.posts {% endtrans %}</h1>
    {% endblock %}

{% block body %}

    <div class="custom-container">
        <div class="row">
            <div class="col-lg-10 align-center">
                {% block searchbar %}
                    {# Zoeken met logica:
                    {% include 'search/search.html.twig' %} #}

                    {# Zoeken met query: #}
                    {% include 'search/searchDatabase.html.twig' %}

                {% endblock %}
                <div class="row">
                    <div class="col-lg-12">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a href="{{ path('app_blog_createblog') }}"
                               class="btn btn-dark">{% trans %}post.create{% endtrans %}</a>
                        {% endif %}
                    </div>
                    <br>
                </div>

                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="flash-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
                <div id="blogtable" data-number-of-blogs="0">
                    {% include 'blog/blogtable.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}