<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <style>
            body {
                font-family: 'Open Sans', sans-serif;
            }

            .btn, .back-btn {
                margin-bottom: 20px;
                margin-top: 10px;
            }

            .align-center {
                margin: 0 auto;
            }

            .header-bg{
                width: 100vw;
                background-color: #09162b;
                transform: skewY(-8deg);
                margin-top: -140px;
                margin-bottom: -100px;
                height: 350px;
                padding-bottom: 50px;
            }

            .header-title {
                color: white;
                font-family: 'Raleway', sans-serif;
                font-weight: 800 !important;
            }

            .language-menu{
                position: relative;
                text-align: right;
            }

            .language-menu a{
                margin-left: 20px;
            }

            .language-menu .active
            {
                font-weight: bold;
                padding-bottom: 5px;
                border-bottom: 2px solid #007bff;
            }

            .post_count
            {
                float: right;
                padding-top: 15px;
            }

            .custom-container {
                background-color: whitesmoke !important;
                z-index: 1;
                position: absolute;
                width: 70%;
                margin-left: 15%;
                margin-top: 15px;
                box-shadow: 10px 10px 10px grey;
                border-radius: 30px;
                padding: 50px 0px;
            }

            .btn-dark, .table .thead-dark th {
                background-color: #09162b;
            }

            label {
                font-weight: bold;
            }
        </style>
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<div class="header">
<div class="header-bg"></div>
<div class="col-lg-8 align-center header-title">
    {% block headertitle %}{% endblock %}
</div>
</div>

{% block languages %}
    {% include 'languages.html.twig' %}
{% endblock %}

{% block body %}{% endblock %}
</body>
</html>
