{% extends 'base.html.twig' %}

{% block body %}
    <div class="header"></div>
    <div class="col-lg-8 align-center header-title">
        <h1>  {{ name }}</h1>
    </div>
    <div class="custom-container">
    <div class="row">
        <div class="col-lg-10 align-center">
            <strong>ID: </strong>{{ id }}<br>
            <strong>Naam: </strong>{{ name }}<br><br>
            <a href="{{ path('app_main_index') }}">Back to overview</a>
        </div>
    </div>
{% endblock %}