{% extends 'base.html.twig' %}

{% block body %}

    <div class="header"></div>

    <div class="col-lg-8 align-center header-title">
        <h1>  {{ user.username }}</h1>
    </div>

    <div class="custom-container">
        <div class="row">
            <div class="col-lg-10 align-center">
                <strong>ID: </strong>{{ user.id }}<br>
                <strong>{% trans %}label.name{% endtrans %}: </strong>{{ user.username }}<br><br>
                <a href="{{ path('app_blog_index') }}">{% trans %}link.back_to_overview{% endtrans %}</a>
            </div>
        </div>
    </div>

{% endblock %}